In [1]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [2]:
d = pd.read_csv('../data/adult.data', header=None)

In [3]:
t = pd.read_csv('../data/adult.test', header=None)

In [4]:
def prepData(d):
    cols_with_nan = []
    for i in d.columns:
        if(d[i].dtype == 'O'):
            d[i] = d[i].str.strip()
            if(d[d[i] == "?"].shape[0] > 0):
                cols_with_nan.append(i)
    for i in cols_with_nan:
        d[i] = d[i].apply(lambda x: d[i].mode()[0] if(x == "?") else x)
    return d.copy()

In [5]:
# d[14] = d[14].apply(lambda x: 0 if(x == "<=50K") else 1).astype(int)

In [6]:
# t[14] = t[14].apply(lambda x: 0 if(x == "<=50K.") else 1).astype(int)

In [7]:
newD = prepData(d)

In [8]:
newT = prepData(t)

In [9]:
newD[14] = newD[14].apply(lambda x: 0 if(x == "<=50K") else 1).astype(int)
newT[14] = newT[14].apply(lambda x: 0 if(x == "<=50K.") else 1).astype(int)

In [10]:
newD.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [11]:
newT.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,Private,103497,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,30,United-States,0

In [12]:
newD[9] = newD[9].apply(lambda x: 1 if(x == "Male") else 0)
newT[9] = newT[9].apply(lambda x: 1 if(x == "Male") else 0)

In [13]:
edu = ['Preschool',  '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th', 'HS-grad', 'Prof-school', 
      'Some-college', 'Bachelors', 'Masters', 'Assoc-voc', 'Assoc-acdm', 'Doctorate']

In [14]:
edu_num = {}
for i in range(len(edu)):
    edu_num[edu[i]] = len(edu_num)

In [15]:
newD[3] = newD[3].apply(lambda x: edu_num[x]).astype(int)
newT[3] = newT[3].apply(lambda x: edu_num[x]).astype(int)

In [16]:
for i in newD.columns:
    if(newD[i].dtype == 'O'):
        le = LabelEncoder()
        le.fit(newD[i])
        newD[i] = le.transform(newD[i])
        newT[i] = le.transform(newT[i])

In [17]:
newD.to_csv('../data/adult2_train.csv', index=False)

In [18]:
newT.to_csv('../data/adult2_test.csv', index=False)